.button {
  min-width: 100px;
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #008080;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
  outline: none;
  padding: 10px;
}

.buttonContact {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  padding: 10px;
  color: #fff;
  background: #333;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
