.button {
  min-width: 100px;
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #008080;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
  outline: none;
  padding: 10px;
}
